:root {
  /* Color variables */
  --bg-color: #fff;
  --text-color: #000;
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgba(0, 0, 0, 0.459);
  /* Board size */
  /* --board-size: 512px; */
}

body {
  margin-top: 50px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
/* Board Start*/
#board {
  margin: 0 auto;
  display: grid;
  width: var(--board-size);
  grid-template-columns: repeat(8, 1fr);
  border: 2px solid var(--secondary-color);
}
/* Board End*/
/* Squares Start*/
.square {
  /* padding: 10px; */
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  justify-content: center;
}
.light.square {
  background-color: var(--primary-color);
}
.dark.square {
  background-color: var(--secondary-color);
}

/* Squares End*/

.piece {
  font-size: 4.5rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.selected {
  position: relative;
}
.selected::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 0, 0.318);
}

.ValidMove {
  position: relative;
}
.ValidMove::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 0, 0.318);
}
